*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(127, 172, 199);
    font-family: sans-serif;
}
input,button{
    width: 100%;
}

.container{
    border: 4px solid #29335C;
    background-color: #F7C664;
    padding: 30px;
    border-radius: 10px;
}
.container h1{
    letter-spacing: 1px;
    margin: 0 0 10px 0;
}
.input-box input{
    outline: none;
    margin: 5px 0;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid lightgray;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.dropdown img{
    height: 40px;
}
.from, .to {
    display: flex;
    place-items: center;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 5px;
}
.select-container select{
    border: none;
    background: none;
    margin-left: 3px;
    cursor: pointer;
    outline: none;
}
.dropdown i {
    font-size: 25px;
}

.msg{
    padding: 5px 0;
}

.button{
    margin: 20px 0 0 0;
    padding: 10px;
    border: 2px solid rgb(62, 61, 61);
    border-radius: 15px;
    background-color: #E4572E;
    cursor: pointer;
    letter-spacing: 1px;
}


@media (max-width:670px) {
    body{
        padding: 20px;
    }
    .container h1{
    letter-spacing: 0px;
    margin: 0 0 10px 0;
}   

    .select-container select{
    width: 80px;
}
}


@media (max-width:410px) {
    body{
        padding: 0px;
    }
    .container h1{
    font-size: 25px;
}   
    .container{
    padding: 20px;
    
}

    .input-box p{
        font-size: 10px;
    }
    .input-box input{
    padding: 8px;
    font-size: 15px;
}
    .dropdown img{
    height: 30px;
}
    .rate-h4{
        font-size: 12px;
    }
    .msg{
         font-size: 12px;
    }
    .button{
        font-size: 12px;
    }
}